<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baterfly1_anim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{105,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>baterfly1_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,0},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>baterfly1_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{87,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,60}}</string>
                <key>sourceSize</key>
                <string>{87,60}</string>
            </dict>
            <key>baterfly1_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,60},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>baterfly1_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,60},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>baterfly1_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>baterfly2_anim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,120},{105,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>baterfly2_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>baterfly2_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,180},{87,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,60}}</string>
                <key>sourceSize</key>
                <string>{87,60}</string>
            </dict>
            <key>baterfly2_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>baterfly2_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,240},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>baterfly2_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,240},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>baterfly3_anim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{105,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>baterfly3_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,300},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>baterfly3_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{87,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,60}}</string>
                <key>sourceSize</key>
                <string>{87,60}</string>
            </dict>
            <key>baterfly3_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,360},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>baterfly3_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,360},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>baterfly3_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,421},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baterfly.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>baterfly.png</string>
        </dict>
    </dict>
</plist>
