<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>flower1_0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>272</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>152</integer>
		</dict>
		<key>flower1_1.png</key>
		<dict>
			<key>x</key>
			<integer>816</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>121</integer>
			<key>originalHeight</key>
			<integer>167</integer>
		</dict>
		<key>flower1_2.png</key>
		<dict>
			<key>x</key>
			<integer>682</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>133</integer>
			<key>height</key>
			<integer>184</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>133</integer>
			<key>originalHeight</key>
			<integer>184</integer>
		</dict>
		<key>flower1_3.png</key>
		<dict>
			<key>x</key>
			<integer>535</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>203</integer>
		</dict>
		<key>flower1_4.png</key>
		<dict>
			<key>x</key>
			<integer>374</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>223</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>flower1_5.png</key>
		<dict>
			<key>x</key>
			<integer>196</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>177</integer>
			<key>height</key>
			<integer>245</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>177</integer>
			<key>originalHeight</key>
			<integer>245</integer>
		</dict>
		<key>flower1_6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>194</integer>
			<key>height</key>
			<integer>270</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>194</integer>
			<key>originalHeight</key>
			<integer>270</integer>
		</dict>
	</dict>
</dict>
</plist>