<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>gas0_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas0_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas0_3.png</key>
		<dict>
			<key>x</key>
			<integer>49</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas0_4.png</key>
		<dict>
			<key>x</key>
			<integer>49</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas1_1.png</key>
		<dict>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas1_2.png</key>
		<dict>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas1_3.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas1_4.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas2_1.png</key>
		<dict>
			<key>x</key>
			<integer>193</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas2_2.png</key>
		<dict>
			<key>x</key>
			<integer>193</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas2_3.png</key>
		<dict>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gas2_4.png</key>
		<dict>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>gasEmpety.png</key>
		<dict>
			<key>x</key>
			<integer>289</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>47</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
	</dict>
</dict>
</plist>